*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header{
    color: rgb(248, 248, 248);
    background-color: black;
    align-items: center;
    font-size: 120%;
    display: flex;
    justify-content: space-around;
    height: 9vh;
}
header h1{
    font-size: 110%;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .dropdown img{
      height: 6vh;
      width: 6vh;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 0 0 10px 10px;
    min-width: 250px;
    padding: 0 16px;
    z-index: 1;
    right: -2vw;

    /*alterações feitas por mim*/
    list-style: none;
    cursor: pointer;
  }
  .dropdown-content li{
      padding: 8px 0;
      text-align: right;      
  }
  .dropdown-content li:hover{
    color: rgb(255, 136, 0);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
    min-width: 250px;
  }



main, iframe{
    
    width: 100%;
    height: 91vh;
}
@media (max-width: 980px) {
    header{
        justify-content: space-between;
        padding: 0 5vw;
        height: 8vh;
        font-size: 120%;
    }
    .dropdown img{
        height: 90%; 
        
        background-color: transparent;
    }
    .dropdown-content{
        padding-top: 15px;
    }
 
    .dropdown-content li{
        text-align: right;
        padding: 16px 0;
    }
    
}